*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:"Poppins",sans-serif;
    background:#f5f5f5;
    overflow:hidden;
}

.container{
    width:100%;
    height:100vh;
    background:white;
}

.left{
    width:50%;
    height:100vh;
    float:left;
    overflow-y:auto;
    padding:50px;
}

.login-box{
    width:100%;
    max-width:404px;
    margin:0 auto;
}

h1{
    font-size:36px;
    font-weight:600;
    color:#222;
    margin-bottom:25px;
}

form{
    width:100%;
}

label{
    display:block;
    margin-bottom:6px;
    font-size:14px;
    font-weight:500;
}

input[type=text],
input[type=email],
input[type=password]{
    width:100%;
    padding:12px;
    margin-bottom:14px;
    border:1px solid #d8d8d8;
    border-radius:8px;
    font-size:14px;
    font-family:"Poppins",sans-serif;
}

input:focus{
    outline:none;
    border-color:#3d6125;
}

.check{
    margin-bottom:20px;
}

.check input{
    margin-right:8px;
}

.check p{
    display:inline;
    font-size:13px;
}

.check a{
    text-decoration:none;
    color:#3d6125;
}

button{
    width:100%;
    padding:13px;
    background:#3d6125;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:15px;
    font-family:"Poppins",sans-serif;
}

button:hover{
    background:#2d4b1a;
}

.line{
    text-align:center;
    margin:20px 0;
    color:#888;
}

.socials{
    width:100%;
}

.google,
.apple{
    width:48%;
    display:inline-block;
    padding:12px;
    border:1px solid #d8d8d8;
    background:white;
    color: #222;
    border-radius:8px;
    cursor:pointer;
    text-align:center;
    font-family:"Poppins",sans-serif;
}

.apple{
    float:right;
}

.google img,
.apple img{
    width:18px;
    vertical-align:middle;
    margin-right:6px;
}

.bottom{
    margin-top:25px;
    text-align:center;
}

.bottom a{
    color:#3d6125;
    text-decoration:none;
}

.right{
    width:50%;
    float:right;
    height:100vh;
    overflow:auto;

}

.right img{
    width:100%;
    height:100%;
    object-fit:contain;
    display:block;
    overflow:hidden;
}

@media screen and (max-width:900px){

    body{
        overflow:auto;
    }

    .left{
        width:100%;
        float:none;
        height:auto;
        padding:30px;
    }

    .right{
        display:none;
    }

    .login-box{
        max-width:450px;
    }

}